<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../fonts/fa/css/font-awesome.min.css">
    <title>pyElectron</title>
    <script src="../js/_.js"></script>
</head>
<body>
<div class="titlebar">
    <div class="title"><script>document.write(document.title)</script></div>
    <div class="winButton closeButton">
        <i class="fa fa-times"></i>
    </div>
    <div class="winButton minButton">
        <i class="fa fa-window-minimize"></i>
    </div>
</div>
<nav>
    <div class="nav-header">
        <span>MENU</span>
    </div>
    <div class="nav-menu"></div>
</nav>
<div class="sizer" draggable="false"></div>
<main class="content">

</main>
</body>
<script>
    require('../js/renderer.js')
</script>
</html>